<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- FONTAWESOME -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- VUE JS -->
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

   <link rel="stylesheet" href="css/style.css">

   <link rel="stylesheet" href="css/dark.css">
   
   <!-- GOOGLE FONT -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

   <title>Boolzapp</title>

</head>
<body class="flex">

   <div id="app" class="div_js flex">

      <main class="container  flex">

         <!-- MACRO.COL.LEFT -->
         <section class="macro col left">

            <!-- TOP -->
            <div class="top  flex">
               <img src="img/avatar_io.jpg" alt="">
               <div class="icon">
                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
               </div>
            </div>

            <!-- BELL -->
            <div class="bell  flex">
               <div class="circle  flex"><i class="fa-solid fa-bell-slash"></i></div>
               <div class="text">
                  <p><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                  <p><a class="btn" href="">Attiva notifiche desktop</a></p>
               </div>
            </div>

            <!-- SEARCH -->
            <div class="search  flex">
               <div class="box  flex">
                  <div><i class="fa-solid fa-magnifying-glass"></i></div>
                  <input type="text" placeholder="Cerca o inizia una nuova chat">
               </div>
            </div>

            <!-- LISTA-CONTATTI -->
            <div class="lista-contatti">




               <div
                 v-for="(contact, i) in contacts"
                 @click="openChat(i)"
                 class="contatto flex relative"
                 >
                  <img :src="contact.avatar" alt="">
                  <div class="box">
                     <p><strong>{{contact.name}}</strong></p>
                     <p>Last message</p>
                  </div>
                  <span>16:05</span>
               </div>




               <!-- <div class="contatto michele  flex relative">
                  <img src="img/avatar_1.jpg" alt="">
                  <div class="box">
                     <p><strong>Michele</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>16:05</span>
               </div>

               <div class="contatto fabio  flex relative">
                  <img src="img/avatar_2.jpg" alt="">
                  <div class="box">
                     <p><strong>Fabio</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>16:05</span>
               </div>

               <div class="contatto samuele  flex relative">
                  <img src="img/avatar_3.jpg" alt="">
                  <div class="box">
                     <p><strong>Samuele</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>16:03</span>
               </div>

               <div class="contatto alessandro  flex relative">
                  <img src="img/avatar_4.jpg" alt="">
                  <div class="box">
                     <p><strong>Alessandro B.</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>15:50</span>
               </div>

               <div class="contatto alessandro  flex relative">
                  <img src="img/avatar_5.jpg" alt="">
                  <div class="box">
                     <p><strong>Alessandro L.</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>15:45</span>
               </div>

               <div class="contatto claudia  flex relative">
                  <img src="img/avatar_6.jpg" alt="">
                  <div class="box">
                     <p><strong>Claudia</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>15:40</span>
               </div>

               <div class="contatto federico  flex relative">
                  <img src="img/avatar_7.jpg" alt="">
                  <div class="box">
                     <p><strong>Federico</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>15:22</span>
               </div>

               <div class="contatto davide  flex relative">
                  <img src="img/avatar_8.jpg" alt="">
                  <div class="box">
                     <p><strong>Davide</strong></p>
                     <p>Lorem, ipsum dolor sit amet</p>
                  </div>
                  <span>15:15</span>
               </div> -->

            </div>

         </section>


         <!-- MACRO.COL.LEFT -->
         <section class="macro col right">
            
            <!-- TOP -->
            <div class="top  flex">

               <div class="info-contatto  flex">
                  <img src="img/avatar_1.jpg" alt="">
                  <div class="box">
                     <p><strong>Michele</strong></p>
                     <p>Ultimo accesso oggi alle 16:26</p>
                  </div>
               </div>

               <div class="icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <i class="fa-solid fa-paperclip"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
               </div>
            </div>

            <!-- MIDDLE -->
            <div class="middle">
               



               <div 
                  v-for="messaggio in contacts[nMessage].messages" 
                  :class="{'received-mes': messaggio.status === 'received',
                           'sended-mes': messaggio.status === 'sent'}"
                  class="box flex"
               >
                  <div 
                  :class="{'received': messaggio.status === 'received',
                           'sended': messaggio.status === 'sent'}"
                     class="message relative"
                  >
                     <p>{{messaggio.message}}</p>
                     <div class="menu-tendina  absolute">
                        <i class="fa-solid fa-chevron-down fa-2xs"></i>
                        <ul class="pop-up  relative">
                           <li><p><a href="">Info messaggio</a></p></li>
                           <li><p><a href="">Cancella messaggio</a></p></li>
                        </ul>                           
                     </div>
                     <span class="absolute">16:13</span>                              
                  </div>
               </div>





               <!-- <div class="box sended-mes flex">
                  <div class="message sended  relative">
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, voluptatibus maxime. Neque quia inventore aperiam quos cumque minus error ad perspiciatis. Doloremque ratione,nimi  nulla!</p>
                     <div class="menu-tendina  absolute">
                        <i class="fa-solid fa-chevron-down fa-2xs"></i>
                        <ul class="pop-up  relative">
                           <li><p><a href="">Info messaggio</a></p></li>
                           <li><p><a href="">Cancella messaggio</a></p></li>
                        </ul>                           
                     </div>
                     <span class="absolute">16:13</span>                              
                  </div>
               </div>

               <div class="box flex">
                  <div class="message received  relative">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatem asperiores suscipit, quod magnam nobis. Excepturi eos aliquam, nemo temporibus perferendis vel id sit iure fuga?</p> 
                     <div class="menu-tendina  absolute">
                        <i class="fa-solid fa-chevron-down fa-2xs"></i>
                        <ul class="pop-up  relative">
                           <li><p><a href="">Info messaggio</a></p></li>
                           <li><p><a href="">Cancella messaggio</a></p></li>
                        </ul>                           
                     </div>
                     <span class="absolute">16:15</span>
                  </div>
               </div> -->
            </div>

            <!-- BOTTOM -->
            <div class="bottom  flex">
               <i class="fa-regular fa-face-smile"></i>
               <input type="text" placeholder="Scrivi un messaggio">
               <i class="fa-solid fa-microphone"></i>
            </div>

         </section>

      </main>

   </div>

   <script src="js/main.js"></script>
</body>
</html>